@use '../abstracts' as *;

.btn {
  position: relative;
  border: 0;

  &:focus,
  &:active {
    box-shadow: none;
  }

  &.btn-sm {
    padding: 0.6rem 1rem !important;
    font-size: 0.9rem;
  }

  &-primary {
    padding: 0.9rem 1rem !important;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: $primary !important;
    color: $white !important;
    border: none !important;
    transition: transform .3s $bezier;
    border-radius: 40px;

    &:hover {
      box-shadow: 0px 8px 20px rgba(14, 49, 81, 0.08);
      transform: scale(1.02);
    }
  }

  &-primary-outline {
    padding: 0.9rem 1rem !important;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-color: $primary !important;
    background-color: transparent;
    color: $primary !important;
    // border: none !important;
    transition: transform .3s $bezier;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: $primary;
      z-index: -1;
      transition: width 300ms $bezier;
    }

    span {
      display: inline-block;
      position: relative;
      z-index: 2;
    }

    &:hover {
      box-shadow: 0px 8px 20px rgba(14, 49, 81, 0.08);
      transform: scale(1.02);
      color: $white !important;

      &::before {
        width: 100%;
      }
    }
  }

  &-more {
    display: inline-flex;
    column-gap: 10px;
    padding: 0.8rem 1rem;
    background-color: $primary;
    background: linear-gradient(174.5deg, #2C085D -27.9%, #6C00FF 135.66%);
    border-color: transparent;
    color: $white;

    span {
      position: relative;
      display: inline-block;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: 1;
      background-color: $white;
      transition: 0.3s $bezier;
    }

    &:hover {
      border-color: $primary !important;
      color: $primary !important;

      &::before {
        width: 100%;
        left: auto;
        right: 0;
      }

      .fill {
        fill: $primary;
      }
    }
  }

  &-secondary {
    background-color: rgba(34, 189, 255, 0.1) !important;
    color: $primary !important;
    font-weight: 600;

    &:hover {
      opacity: 0.8;
    }
  }
}