@use '../abstracts' as *;

.btn {
  position: relative;

  &:focus,
  &:active {
    box-shadow: none;
  }

  &-primary {
    padding: 0.9rem 1rem !important;
    font-weight: 600;
    letter-spacing: 1.5px;
    background-color: $primary !important;
    color: $white !important;
    border: none !important;
    transition: transform .3s $bezier;

    &:hover {
      box-shadow: 0px 8px 20px rgba(14, 49, 81, 0.08);
      transform: scale(1.02);
    }
  }

  &-more {
    display: inline-flex;
    column-gap: 10px;
    padding: 0.8rem 1rem;
    background-color: $primary;
    background: linear-gradient(174.5deg, #2C085D -27.9%, #6C00FF 135.66%);
    border-color: transparent;
    color: $white;

    span {
      position: relative;
      display: inline-block;
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: 1;
      background-color: $white;
      transition: 0.3s $bezier;
    }

    &:hover {
      border-color: $primary !important;
      color: $primary !important;

      &::before {
        width: 100%;
        left: auto;
        right: 0;
      }

      .fill {
        fill: $primary;
      }
    }
  }

  &-discover {
    display: inline-flex;
    column-gap: 10px;
    padding: 0.8rem 2.5rem;
    border: 1px solid $white;
    color: $white;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      background-color: $white;
      transition: 0.3s $bezier;
    }

    .fill {
      transition: 0.3s $bezier;
    }

    &:hover {
      border-color: $white !important;
      color: $primary !important;

      &::before {
        width: 100%;
        left: auto;
        right: 0;
      }

      .fill {
        fill: $primary;
      }
    }
  }

  &-option {
    padding: 0.5rem 2rem !important;
    background-color: rgba(44, 8, 93, 0.27) !important;
    color: $white !important;
    transition: 0.3s $bezier;

    &:hover {
      background-color: $primary !important;
      color: $white !important;
    }
  }
  
}