// Home page styles
@use '../abstracts' as *;

// resume-btn
.resume-btn {
  position: fixed;
  left: 10%;
  bottom: 60px;
  z-index: 60;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $red;
  box-shadow: $shadow;
  opacity: 0;
  visibility: hidden;
  transition: 300ms $bezier;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    opacity: 0.9;
    transform: scale(0.92);
  }

  a {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  @media screen and (min-width: 1500px) {
    left: 15%;
  }
}

/* ================
partners
================= */
.partners {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $bg;

  &__slider {

    .slick-list {
      margin: 0 -10px;
    }
    
    .slick-slide>div {
      padding: 0 10px;
    }
    
    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border: 1px solid $border;
      border-radius: 5px;
    }
  }
}

/* ================
our main services
================= */
.our-main-services {
  padding-top: 4rem;
  padding-bottom: 4rem;
  overflow: hidden;
  
  @media screen and (max-width: 576px) {
    padding-top: 3rem;
  }

  &>.container-fluid {
    max-width: 1650px;
    padding: 0;

    @media screen and (max-width: 767px) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  &__content {
    padding-bottom: 4rem;

    @media screen and (max-width: 767px) {
      padding-bottom: 2rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  &__slides {
    position: relative;
    min-height: 320px;
    // display: flex;
    // justify-content: flex-end;

    .slick-list {
      padding-top: 5rem;
      padding-bottom: 6rem;
      // overflow: initial !important;

      .slick-track {
        position: relative;

        // &::after {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //   z-index: 19;
        //   background-color: $white;
        // }
      }
    }

    .slick-slide {
      min-height: 380px;
      width: 100%;
      position: relative;
    }

    .services-slide {
      position: absolute;
      right: 0;
      width: 350px;
      min-height: 380px;
      border-radius: 10px;
      padding: 2rem;
      background-color: $white;
      box-shadow: $shadow;
      transition: 300ms $bezier;
      direction: ltr;
      transform: translate(80px, 0);
      z-index: 1;

      @media screen and (max-width: 480px) {
        width: 250px;
        min-height: 300px;
      }

      .icon {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        box-shadow: $shadow;
      } 

      h3 {
        max-width: 200px;
        margin-bottom: 1rem;
        font-family: $sans-light;
        font-size: 1.4rem;
      }

      p {
        margin-bottom: 0;
        font-size: 0.9rem;
      }
    }

    .slick-slide.slick-active {
      z-index: 22;

      &.slick-current {
        z-index: 24;

        .services-slide {
          transform: translate(0, -80px) !important;
          background-color: $dark;
          color: $white;
          z-index: 3;
  
          p {
            color: $text;
          }
        }

        &+.slick-active+.slick-active {
          z-index: 20;

          .services-slide {
            transform: translate(150px, 80px);
            opacity: 0.5;
            z-index: 1;
          }
        } 
      }
    }

    .slick-slide:not(.slick-active) .services-slide {
      opacity: 0;
      // visibility: hidden;
    }

    // @media screen and (max-width: 767px) {
    //   display: flex;
    //   gap: 25px;
    //   width: calc(3 * 300px);

    //   .services-slide {
    //     position: static;
    //     transform: translate(0, 0) !important;
    //     opacity: 1 !important;
    //     background-color: $dark;
    //     color: $white;
    //     z-index: 3;

    //     p {
    //       color: $text;
    //     }
    //   }
    // }
  }
}

/* ================
templates
================= */
.templates {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  background-color: $dark;

  .section__title {
    position: relative;
    z-index: 2;
    color: $primary;
  }

  .templates-subtitle {
    position: relative;
    max-width: 500px;
    z-index: 2;
    font-size: 1.2rem;
    color: $white;
  }

  &__shape {
    position: absolute;
    transform: rotate(40deg);
    opacity: 0.5;
    z-index: 1;
  }

  &-slider {
    &__container {
      position: relative;

      @media screen and (max-width: 991px) {
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
      }

      @media screen and (max-width: 576px) {
        max-width: 320px;
      }
    }

    &__control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
      z-index: 2;
      display: flex;
      flex-direction: column;

      .btn-control {
        padding: 3px;
        background-color: $primary;
        color: $white;
        transition: 300ms $bezier;

        &:hover {
          opacity: 0.8;
        }

        &:first-child {
          border-radius: 15px 15px 0 0;
        }

        &:last-child {
          border-radius: 0 0 15px 15px;
        }
      }

      @media screen and (max-width: 991px) {
        top: auto;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
      }
    }

    .slick-list {
      margin: 0 -10px;
    }
    
    .slick-slide {
      transition: 300ms $bezier;

      &.slick-active:not(.slick-current) {
        
        .templates-slider__slide {
          transform: perspective(400px) rotateY(-10deg) translateX(-45px) scale(0.95);
          opacity: 0.5;
        }
      }

      &>div {
        padding: 0 10px;
      }

    }

    &__slide {
      position: relative;
      height: 425px;
      border-radius: 5px;
      overflow: hidden;
      cursor: grab;
      transition: 300ms $bezier;

      @media screen and (max-width: 576px) {
        height: 400px;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .caption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $primary;
        z-index: 2;
  
        .btn {
          padding: 0.6rem 1.5rem;
          font-size: 0.9rem;
          color: $primary;
          font-family: $sans-bold;
        }
  
        .price {
          width: 100px;
          padding: 0.2rem 0.5rem;
          margin-bottom: 0.5rem;
          font-size: 0.8rem;
          font-weight: 600;
          text-transform: uppercase;
          background-color: #a6dcf2;
          color: #11044c;
        }
      }
    }
  }

}

/* ================
steps
================= */
.steps {

  .section__text {
    font-size: 1.3rem;
  }

  &__features {

    .feature-card {
      gap: 1.5rem;

      .title {
        color: $primary;
        font-size: 1.3rem;
      }

      .text {
        font-size: 0.9rem;
      }
    }

    .icon {
      position: relative;
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: rgb(52,72,127);
      background: linear-gradient(41deg, rgba(52,72,127,1) 0%, rgba(47,114,169,1) 100%);
      color: $white;
      font-size: 2rem;
      font-family: $sans-bold;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: rgb(52,72,127);
        background: linear-gradient(41deg, rgba(52,72,127,1) 0%, rgba(47,114,169,1) 100%);
      }
    }
  }
}

/* ================
memberships
================= */
.memberships {

  &__card {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    &-cards__container {
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 10px;
      }
       
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      &::-webkit-scrollbar-thumb {
        background-color: $text;
      }
      // width: calc(( 3 * 500px));

      &>.row {
        width: calc(( 3 * 350px) + 20px);
      }
    }
    
    &__card {
      width: 350px;
      padding: 3rem 2rem;
    }
  }

  @media screen and (max-width: 480px) {
    &-cards__container>.row {
      width: calc(( 3 * 300px) + 20px);
    }

    &__card {
      width: 300px;
      padding: 2rem 1rem;
    }
  }

  &__card {
    padding: 3rem 2rem;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $white;

    &--title {
      margin-bottom: 0;
      font-size: 3rem;
      text-align: center;
      font-family: $sans-light;
      color: $secondary;

      span {
        font-size: 3.5rem;
        font-family: $sans-bold;
      }
    }

    &--sub-title {
      margin-bottom: 3rem;
      text-align: center;
      color: $secondary;
    }

    .btn-start {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      padding: 0.8rem 1.5rem;
      border-radius: 5px;
      background-color: $secondary;
      color: $white;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
      transition: transform 300ms $bezier;

      &:hover {
        transform: scale(1.05);
      }
    }

    .card-ribbon {
      position: absolute;
      overflow: hidden;
      top: -10px;
      left: -10px;
      width: 114px;
      height: 112px;
      span {
          position: absolute;
          display: block;
          width: 160px;
          padding: 10px 0;
          background-color: $primary;
          box-shadow: 0 5px 5px rgba(0,0,0,0.2);
          color: $white;
          font-size: 13px;
          text-transform: uppercase;
          text-align: center;
          left: -35px;
          top: 25px;
          transform: rotate(-45deg);
      }
      &::before,
      &::after {
          position: absolute;
          z-index: -1;
          content: '';
          display: block;
          border: 5px solid #2980b9;
          border-top-color: transparent;
          border-left-color: transparent;
      }
      &::before {
          top: 0;
          right: 0; 
      }
      &::after {
          bottom: 0;
          left: 0;
      }
    }

    &.best-seller {
      box-shadow: $shadow;
      border: none;
      transform: scale(1.5);
      margin-top: -15px;

      .btn-start {
        background-color: $red;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      margin-bottom: 3rem;
    }

    li {
      position: relative;
      font-size: 0.9rem;

      &::after {
        content: url(../assets/imgs/check.svg);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
}

/* ================
testimonial
================= */
.testimonial {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: $dark;

  &-subtitle {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.3rem;
    color: #fffffe;
    font-weight: 300;
  }

  &-slider {

    &__navigrator {
      max-width: 250px;
      margin-right: auto;
      margin-left: auto;

      .slide {
        width: 65px;
        height: 65px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;
        transition: 300ms ease;
      }
      

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .slick-slide {
        padding-top: 2rem;
        padding-bottom: 2rem;
        transition: 300ms ease;

        &.slick-active {

          &.slick-current+.slick-active {
            position: relative;
            z-index: 5;

            .slide {
              transform: scale(1.8);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }

    &__container {
      position: relative;
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }

    &__control {
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      display: flex;
      gap: 18px;

      .btn-control {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px 4px;
        transform: rotate(-90deg);
        background-color: $white;
        color: $dark;
        transition: 300ms $bezier;

        &:hover {
          opacity: 0.8;
        }

        &:first-child {
          border-radius: 20px 20px 0 0;
        }

        &:last-child {
          border-radius: 0 0 20px 20px;
        }
      }
    }

    &__slide {
      .text {
        font-size: 1.1rem;
        font-style: italic;
        color: #fffffe;
        font-weight: 300;
      }
    }
  }
}

/* ================
stats
================= */
.stats {
  padding-top: 4rem;
  padding-bottom: 4rem;


  .section__title,
  p {
    color: $accent;

    span {
      color: $primary;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 300;

    span {
      font-weight: 500;
    }
  }

  &__shape-card {
    padding: 1.5rem;
    box-shadow: $shadow;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    &:nth-child(2) {
      transform: translateX(35px);
      color: #11044c;
    }

    &:first-child h4 {
      color: $text;
    }

    h4 {
      font-size: 1rem;
      margin-bottom: 0;
      letter-spacing: 1px;
      font-weight: 300;
    }

    span {
      color: $primary;
      font-size: 1.8rem;
      letter-spacing: 1px;
      font-weight: 300;
    }

    &:last-child,
    &:last-child span {
      color: $white;
    }

    &.primary {
      background-color: $primary;
    }

    &.dark {
      background-color: $accent;
    }
  }

  .stat-2 {
    width: 1px;
    background-color: $text;
  }

  &__card-container {
    @media screen and (max-width: 480px) {
      width: 550px;
      padding-top: 2rem;
      padding-bottom: 2rem;

      .stats__shape-card:nth-child(2) {
        transform: translateX(10px);
      }
    }
  }
}

