// Home page styles
@use '../abstracts' as *;

/* ================
our main services
================= */
.our-main-services {
  padding-top: 4rem;
  padding-bottom: 4rem;
  
  @media screen and (max-width: 576px) {
    padding-top: 3rem;
  }

  &>.container {
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__content {
    padding-bottom: 4rem;

    @media screen and (max-width: 767px) {
      padding-bottom: 2rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  &__slides {
    position: relative;
    min-height: 320px;

    .services-slide {
      position: absolute;
      right: 0;
      min-height: 320px;
      width: 280px;
      border-radius: 10px;
      padding: 2rem;
      background-color: $white;
      box-shadow: $shadow;
      transition: 300ms $bezier;
      transform: translate(-100px, 40px);
      z-index: 2;

      .icon {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
      } 

      h3 {
        max-width: 200px;
        margin-bottom: 1rem;
        font-family: $sans-light;
        font-size: 1.4rem;
      }

      p {
        margin-bottom: 0;
        font-size: 0.9rem;
      }

      &.active {
        transform: translate(0, 0);
        background-color: $dark;
        color: $white;
        z-index: 3;

        p {
          color: $text;
        }
      }

      &.last {
        transform: translate(-200px, 80px);
        opacity: 0.5;
        z-index: 1;
      }
    }
    @media screen and (max-width: 767px) {
      display: flex;
      gap: 25px;
      width: calc(3 * 300px);

      .services-slide {
        position: static;
        transform: translate(0, 0) !important;
        opacity: 1 !important;
        background-color: $dark;
        color: $white;
        z-index: 3;

        p {
          color: $text;
        }
      }
    }
  }
}

.slides-container {
  @media screen and (max-width: 767px) {
    overflow-x: auto;
    padding-bottom: 2rem;

    &::-webkit-scrollbar {
      height: 8px;
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: $text;
    }
  }
}

/* ================
templates
================= */
.templates {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  background-color: $dark;

  .section__title {
    position: relative;
    z-index: 2;
    color: $primary;
  }

  .templates-subtitle {
    position: relative;
    z-index: 2;
    font-size: 1.2rem;
    color: $white;
  }

  &__shape {
    position: absolute;
    transform: rotate(40deg);
    opacity: 0.5;
    z-index: 1;
  }

  &-slider {
    &__container {
      position: relative;

      @media screen and (max-width: 991px) {
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
      }

      @media screen and (max-width: 576px) {
        max-width: 320px;
      }
    }

    &__control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
      z-index: 2;
      display: flex;
      flex-direction: column;

      .btn-control {
        padding: 3px;
        background-color: $primary;
        color: $white;
        transition: 300ms $bezier;

        &:hover {
          opacity: 0.8;
        }

        &:first-child {
          border-radius: 15px 15px 0 0;
        }

        &:last-child {
          border-radius: 0 0 15px 15px;
        }
      }

      @media screen and (max-width: 991px) {
        top: auto;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
      }
    }

    .slick-list {
      margin: 0 -10px;
    }
    
    .slick-slide {
      transition: 300ms $bezier;

      &.slick-current {

      }

      &.slick-active:not(.slick-current) {
        // perspective: 400px;
        
        .templates-slider__slide {
          transform: perspective(400px) rotateY(-10deg) translateX(-45px) scale(0.95);
          opacity: 0.5;
        }
      }

      &>div {
        padding: 0 10px;
      }

    }

    &__slide {
      position: relative;
      height: 425px;
      border-radius: 5px;
      overflow: hidden;
      cursor: grab;
      transition: 300ms $bezier;

      @media screen and (max-width: 576px) {
        height: 400px;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .caption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $primary;
        z-index: 2;
  
        .btn {
          padding: 0.6rem 1.5rem;
          font-size: 0.9rem;
          color: $primary;
          font-family: $sans-bold;
        }
  
        .price {
          width: 100px;
          padding: 0.2rem 0.5rem;
          margin-bottom: 0.5rem;
          font-size: 0.8rem;
          font-weight: 600;
          text-transform: uppercase;
          background-color: #a6dcf2;
          color: #11044c;
        }
      }
    }
  }

}

/* ================
steps
================= */
.steps {

  .section__text {
    font-size: 1.3rem;
  }

  &__features {

    .feature-card {
      gap: 1.5rem;

      .title {
        color: $primary;
        font-size: 1.3rem;
      }

      .text {
        font-size: 0.9rem;
      }
    }

    .icon {
      position: relative;
      width: 90px;
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: rgb(52,72,127);
      background: linear-gradient(41deg, rgba(52,72,127,1) 0%, rgba(47,114,169,1) 100%);
      color: $white;
      font-size: 2rem;
      font-family: $sans-bold;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: rgb(52,72,127);
        background: linear-gradient(41deg, rgba(52,72,127,1) 0%, rgba(47,114,169,1) 100%);
      }
    }
  }
}

/* ================
memberships
================= */
.memberships {

  &__card {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    &-cards__container {
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 10px;
      }
       
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
       
      &::-webkit-scrollbar-thumb {
        background-color: $text;
      }
      // width: calc(( 3 * 500px));

      &>.row {
        width: calc(( 3 * 350px) + 20px);
      }
    }
    
    &__card {
      width: 350px;
      padding: 3rem 2rem;
    }
  }

  @media screen and (max-width: 480px) {
    &-cards__container>.row {
      width: calc(( 3 * 300px) + 20px);
    }

    &__card {
      width: 300px;
      padding: 2rem 1rem;
    }
  }

  &__card {
    padding: 3rem 2rem;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: $white;

    &--title {
      margin-bottom: 0;
      font-size: 3rem;
      text-align: center;
      font-family: $sans-light;
      color: $secondary;

      span {
        font-size: 3.5rem;
        font-family: $sans-bold;
      }
    }

    &--sub-title {
      margin-bottom: 3rem;
      text-align: center;
      color: $secondary;
    }

    .btn-start {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      padding: 0.8rem 1.5rem;
      border-radius: 5px;
      background-color: $secondary;
      color: $white;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
      transition: transform 300ms $bezier;

      &:hover {
        transform: scale(1.05);
      }
    }

    &.best-seller {
      box-shadow: $shadow;
      border: none;
      transform: scale(1.5);


      .btn-start {
        background-color: $red;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;
      margin-bottom: 3rem;
    }

    li {
      position: relative;
      font-size: 0.9rem;

      &::after {
        content: url(../assets/imgs/check.svg);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
}

/* ================
testimonial
================= */
.testimonial {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: $dark;

  &-subtitle {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.3rem;
    color: #fffffe;
    font-weight: 300;
  }

  &-slider {

    &__container {
      position: relative;
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
    }

    &__control {
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      z-index: 2;
      display: flex;
      flex-direction: column;

      .btn-control {
        padding: 10px 3px;
        background-color: $white;
        color: $dark;
        transition: 300ms $bezier;

        &:hover {
          opacity: 0.8;
        }

        &:first-child {
          border-radius: 15px 15px 0 0;
        }

        &:last-child {
          border-radius: 0 0 15px 15px;
        }
      }
    }

    &__slide {
      .text {
        font-size: 1.2rem;
        font-style: italic;
        color: #fffffe;
        font-weight: 300;
      }
    }
  }
}

/* ================
stats
================= */
.stats {
  padding-top: 4rem;
  padding-bottom: 4rem;

}

@keyframes an-blink-lamp {
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.reveal {
  opacity: 0;
  visibility: hidden;
}

.header__body--text .slide-up,
.header__slider .slide-up {
  &:nth-child(2) {
    animation-delay: 200ms;
  }
  &:nth-child(3) {
    animation-delay: 400ms;
  }
  &:nth-child(4) {
    animation-delay: 600ms;
  }
}

.our-main-services,
.steps,
.memberships-cards__container {
  .reveal {
    &:nth-child(2) {
      animation-delay: 200ms;
    }
    &:nth-child(3) {
      animation-delay: 400ms;
    }
    &:nth-child(4) {
      animation-delay: 600ms;
    }
    &:nth-child(5) {
      animation-delay: 800ms;
    }
  }
}

.slide-up {
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
