@use '../abstracts' as *;

.resumes {

  &__content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.article {
  &-img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  &-date {
    gap: 0.5rem;
    font-size: 0.95rem;
  }

  &-headding {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $dark;

    @media screen and (max-width: 576px) {
      font-size: 1.2rem;
    }
  }

  &-text {
    margin-bottom: 1rem;
  }
}