@use '../abstracts/variables' as *;

.z-index-100 {
  z-index: 100;
}

.fw-semibold {
  font-weight: 600;
}

.section {
  &-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media screen and (max-width: 480px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__title {
    position: relative;
    margin-bottom: 1.75rem;
    font-size: 2.5rem;
    color: $secondary;
    
    &--padding {
      position: absolute;
      left: 0;
      bottom: -15px;

      span {
        display: inline-block;
        height: 4px;
        border-radius: 5px;
        background-color: $primary;

        &:first-child {
          width: 60px;
        }
        &:nth-child(2) {
          width: 20px;
        }
        &:last-child {
          width: 8px;
        }
      }
    }

    @media screen and (max-width: 480px) {
      font-size: 2rem;
      
      &--padding.center {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__text {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.text-primary {
  color: $primary !important;
}

.nice-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $text;
  }
}

.shape>div {
  // position: absolute;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: rgba(15, 53, 142, 0.157);

  &:first-child {
    height: 5px;
    width: 250px;
  }

  &:last-child {
    height: 20px;
    width: 260px;
  }

  &:nth-child(2) {
    height: 10px;
    width: 350px;
  }
}

.gap {
  gap: 1rem;

  &-lg {
    gap: 1.5rem;
  }

  &-xl {
    gap: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .overflow-xs-auto {
    overflow: auto;
  }
}

.page-head {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: $bg;
  
  h1 {
    color: $secondary;
  }

  @media screen and (max-width: 576px) {
    h1 {
      font-size: 1.8rem;
    }
  }
}

// card-ribbon
.card-ribbon {
  position: absolute;
  overflow: hidden;
  top: -10px;
  left: -10px;
  width: 114px;
  height: 112px;
  z-index: 3;

  span {
    position: absolute;
    display: block;
    width: 160px;
    padding: 10px 0;
    background-color: $primary;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    color: $white;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    left: -35px;
    top: 25px;
    transform: rotate(-45deg);

    &.text-lg {
      font-size: 14px;
    }
  }

  &.dark {
    span {
      background-color: $secondary;
    }

    &::before,
    &::after {
      border-bottom-color: $secondary;
      border-right-color: $secondary;
    }
  }

  &::before,
  &::after {
      position: absolute;
      z-index: -1;
      content: '';
      display: block;
      border: 5px solid $primary;
      border-top-color: transparent;
      border-left-color: transparent;
  }
  &::before {
      top: 0;
      right: 0; 
  }
  &::after {
      bottom: 0;
      left: 0;
  }
}

// Animation
.reveal {
  opacity: 0;
  visibility: hidden;
}

.reveal {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 150}ms;
    }
  }
}

@keyframes an-blink-lamp {
  50% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.header__body--text .slide-up,
.header__slider .slide-up
.resumes__content .slide-up {
  &:nth-child(2) {
    animation-delay: 200ms;
  }
  &:nth-child(3) {
    animation-delay: 400ms;
  }
  &:nth-child(4) {
    animation-delay: 600ms;
  }
}

.slide-up {
  animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.color-text {
  color: $text;
}

.text-sm {
  font-size: 0.85rem;
}

.btn-link {
  color: $secondary;

  &:hover {
    color: $primary;
  }
}

.navbar .navbar-brand {
  margin: 0 !important;
}

.logo-container {
  background-color: $white;
}