// colors
$primary: #29abe2;
$secondary: #0f358e;
$dark: #01021d;
$red: #fa2952;
$blue: #1f75fe;
$bg: #eef2f5;
$white: #ffffff;
$darker: #262626;
$text-dark: #696969;
$text: #92a5c3;
$border: #dddfe7;

// font sizes
$font_base: 16px;
$font_lg: 18px;
$font_xl: 20px;
$font_md: 15px;
$font_sm: 14px;

// font family
$sans: 'Open Sans', sans-serif;
$sans-light: 'Open Sans Light', sans-serif;
$sans-bold: 'Open Sans Bold', sans-serif;

// shadow
$shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

$block_helight: 12rem;
$block_width: 14rem;

// cubic-bezier
$bezier: cubic-bezier(.21,.98,.6,.99);